:root{
    /*=============Overall================*/
    --span-img-color:rgb(255, 255, 255);
    --active-color:orangered;

    /*==========Left Side Menu==========*/
    --leftmenu-word-color:white;
    --leftmenu-img-size-user:40px;
    --leftmenu-paragraph-size:1rem;

    /*==============Right Side Main===========*/
    --right-side-bColor:rgb(238,238,238);
    --right-side-contentBcolor:white;
    --right-side-paragraph-color:rgb(0, 0, 0);
    --right-side-headline-color:gray;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

span{
    color: var(--span-img-color);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.material-icons.md-60{ 
    font-size: 30px;
    margin-right: 10px; 
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows:1fr;
}


/*=============Left Menu==============*/
.left-side-menu{
    overflow-y: auto;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)) ,url(images/sidebar-1.jpg);
    background-position: center;
    background-size:cover;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0px 20px 0px 20px;
}

.left-side-menu hr{
    width: 100%;
    border: 1px solid rgb(94, 94, 94)
}

.content-active{
    margin-top: 5px;
    padding: 10px;
    display: flex;
}

.content-active:hover{
    cursor: pointer;
}

.content{
    margin-top: 5px;
    padding: 10px;
    display: flex;
}

.content:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.left-side-content{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 14rem;
}

.left-side-content p{
    color: var(--leftmenu-word-color);
}

.left-side-content img{
    width: var(--leftmenu-img-size-user);
    height: var(--leftmenu-img-size-user);
    border-radius: 50%;
}

.active{
    background-color: var(--active-color);
    border-radius: 5px;
}

.right-side-expand{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side-menu h1{
    color: var(--leftmenu-word-color);
    font-size: 1.3rem;
    font-weight: 300;
    padding: 10px;
}

.left-side-menu p{
    color: var(--leftmenu-word-color);
    padding: 10px;
    margin: 0;
    font-size: var(--leftmenu-paragraph-size);
    font-weight: 300;
}


/*=============Right Side Main==============*/

.right-side-main{
    overflow-y: scroll;
    overflow-x: hidden;
    grid-column: 2/3;
    background-color: var(--right-side-bColor);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding: 0px 3% 0px 3%;
    gap:100px;
}


/*=============Header==============*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    grid-row: 1/2;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left p{
    color: var(--right-side-paragraph-color);
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.circle-button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--right-side-contentBcolor);
    box-shadow: 0px 0px 5px 1px #888888;
}

.circle-button:hover{
    box-shadow: 0px 0px 15px 1px #888888;
    cursor: pointer;
}

.header span{
    color: grey;
    font-size: 1.5rem;
}

.header-right{
    flex:1;
    display: flex;
    justify-content: end;
    align-items: center;
    flex:1;
}

.seach-input{
    padding: 15px 0px 5px 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    border-bottom: 2px solid rgb(212, 212, 212);
    background-color: var(--right-side-bColor);
    margin-right: 10px;
    transition: 0.2s ease-in;
    margin: 0;
}

.seach-input:focus{
    border-bottom: 2px solid purple;
}

.seach-input::placeholder{
    font-size: 1.2rem;
    color: rgb(68, 68, 68);
}

.header span:hover{
    cursor: pointer;
}

.spaces{
    margin-left: 30px;
}

.notification-container{
    position: relative;
    cursor: pointer;
}

.notification{
    position: absolute;
    top: -10px;
    right: -5px;
    margin: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size:0.9rem ;
}

#notification:hover .notification-box{
    visibility: visible;
}

.notification-box{
    visibility: hidden;
    position: absolute;
    padding: 3px;
    top: 10px;
    left: -260px;
    width: 300px;
    background-color: var(--right-side-contentBcolor);
    z-index: 10;
    box-shadow: 0px 0px 5px 2px grey;
}

.notification-box p{
    color: var(--right-side-paragraph-color);
    margin: 0;
    padding: 10px 10px 10px 10px;
}

.notification-box p:hover{
    background-color: var(--active-color);
    color: var(--leftmenu-word-color);
    border-radius: 3px;
}

.header-navigation{
    display: flex;
}


#view-button{
    display: none;
}

/*=============Global Sales==============*/

.sales-container{
    grid-row: 2/3;
    background-color: var(--right-side-contentBcolor);
    border-radius: 5px;
    position: relative;
}

.icon{
    position: absolute;
    border-radius: 3px;
    top: -20px;
    left: 20px;
    padding: 30px;
    box-shadow: 0px 0px 5px 1px #888888;
}

.green{
    background-color: rgb(82,172,87);
}

.title{
    margin:25px 0px 0px 120px;
    font-size:1.2rem;
}

.sales-contats{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
}
.sales-data{
    padding-right:20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sales-data-stats{
    width: 350px;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid rgb(221, 221, 221);
    font-size: 1.3rem;
}

.sales-data-stats p{
    color: var(--right-side-paragraph-color);
    margin: 5px;
    font-size: 1rem;
}

.sales-data-stats-left{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.sales-data-stats-right{
    display: flex;
    gap: 20px;
}

.sales-contats-iframe{
    flex: 1;
}

iframe{
    width: 100%;
    height: 100%;
}

.sales-data-stats img{
    width: 20px;
    height: 20px;
}

/*=============Global Sales 4 Boxes==============*/

.sales-boxes{
    /*
    display: flex;
    flex-wrap: wrap;
    */
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

.sales-boxes-items{
    border-radius: 5px;
    background-color: var(--right-side-contentBcolor);
    position: relative;
    padding: 20px;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: rgb(224,41,106);
}

.blue{
    background-color: rgb(32,193,213);
}

.sales-boxes-items p{
    color: var(--right-side-paragraph-color);
    text-align: end;
}

.sales-boxes-items hr{
    display: block;
    background-color: var(--right-side-headline-color);
}

.sales-boxes-items-numbers{
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}

.sales-boxes-items-bottom{
    color: var(--right-side-headline-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}

.sales-boxes-items-bottom span{
    color: var(--right-side-headline-color);
    margin-right: 10px;
}

/*=============Manage Listing==============*/

.manage-list{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.manage-list-item{
    position: relative;
    background-color: var(--right-side-contentBcolor);
    padding: 0px 15px 0px 15px;
    display: flex;
    width: calc(100%-20px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}


.manage-list-item-img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
    transition:0.2s ease-in-out;
    top:0;
}


.manage-list-item-animation{
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manage-list-item-animation:hover .manage-list-item-img{
    top:-25px;
    cursor: pointer;
}


.manage-list-item-edits{
    position: absolute;
    bottom: 0;
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.manage-list-item-edits span{
    cursor: pointer;
}

.gray-span{
    color: grey;
}

.green-span{
    color: green;
}

.red-span{
    color: red;
}

.manage-list-item-title{
    color: var(--right-side-paragraph-color);
    margin: 0;
    position: relative;
    top: -15px;
    font-size: 1.3rem;
}

.manage-list-item-paragraph{
    margin: 0px 0px 20px 0px;
    color: var(--right-side-headline-color);
}

.manage-list-item hr{
    width: 100%;
    margin: 0;
}

.manage-list-item-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manage-list-item-bottom-right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

/*=============Footer==============*/

.footer{
    grid-row: 6/7;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 40px 0px;
}

.footer-container-left{
    display: flex;
    gap: 20px;
    font-weight: 500;
    color: var(--right-side-paragraph-color);
}


.footer-container-right{
    font-style: italic;
    color: var(--right-side-paragraph-color);
}


/*=============Tablet Display=========*/

@media (max-width:1000px){
    .left-side-menu{
        display: none;
    }

    .sales-contats{
        margin-top: 0;
        flex-direction: column;
        height: 700px;
    }

    .sales-data-stats{
        width: 100%;
    }

    .sales-contats-iframe{
        margin-top: 20px;
        width: 100%;
    }

    .circle-button, .header-right {
        display: none;
    }

    .header{
        margin: 0;
        padding-top: 50px;
    }

    .header p{
        color: var(--right-side-paragraph-color);
        font-size: 2rem;
        margin: 0;
        font-weight: 400;
    }

    #view-button{
        display: block;
    }

    .header span{
        font-size: 3rem;
    }

    .manage-list{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 100px;
    }


    .manage-list-item-animation:hover .manage-list-item-img{
        top:-50px;
    }

    .manage-list-item-edits span{
        font-size: 3rem;
    }

}