body {
    background-image: url("https://wallpapershome.com/images/wallpapers/autumn-forest-3840x2160-4k-hd-wallpaper-leaves-trees-lake-rocks-beach-578.jpg");
    background-size: cover;
}

h1,
h2 {
    text-align: center;
    color: rgb(100, 0, 0);
    background: linear-gradient(rgba(201, 178, 145, 0.7) 10%, rgba(104, 89, 67, 0.7) 90%)
}

p {
    text-align: center;
    background: linear-gradient(rgba(201, 178, 145, 0.7) 10%, rgba(104, 89, 67, 0.7) 90%);
    color: #2c0f00;
}

ul{
    height: 23px;
    background: linear-gradient(rgba(201, 178, 145, 0.7) 10%, rgba(104, 89, 67, 0.7) 90%);
    color: #2c0f00;
}