body{
    margin: 0;
    padding: 0;
}

.search-bar{
    width: 17em;
    padding: 0.5em;
    margin: 1em;
    border-radius: 7em;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    box-shadow: inset 0px 0px 20px lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
}

.search-bar-input{
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.2em;
    color: inherit;
}

.search-icon{
    width: 1.5em;
    transition: width .3s ease;
}

.search-bar-input::placeholder{
    color:grey;
}

.search-bar-input:focus + .search-icon{
    width: 1.8em;
}

.search-bar:has(.search-bar-input:focus){
    outline: 1px solid;
}